/* Header */
header {
    width: 100%;
    max-height: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(235, 235, 235, 0.15);
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    max-width: 400px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(235, 235, 235, 0.15);
    padding: 10px;
    margin-bottom: 20px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin: 0 10px;

            a {
                color: rgb(0, 0, 0);
                text-decoration: none;
                transition: color 0.3s ease;
                font-size: 1.3em;

                &.active-link {
                    text-decoration: underline;
                    color: rgb(36, 24, 127);
                }
            }

            a:hover {
                color: rgb(255, 255, 255);
            }
        }
    }

}

@media screen and (min-width: 901px) {
    img {
        max-width: 140px;
        margin-left: 50px;
    }

    nav {
        margin-top: -30px;
    }

  }

@media screen and (max-width: 900px) {
    img {
        max-width: 100px;
    }

    nav {
        margin-top: 8px;
    }

  }