<header>
    <a routerLink="/home"><img src="assets/images/logo-uu.png" alt=""></a>
</header>
<div class="nav-header">
    <nav id="nav-menu">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active-link"><i class="fa-solid fa-house"></i> Hem</a></li>
            <li><a routerLink="/courses" routerLinkActive="active-link"><i class="fas fa-book"></i> Kurser</a></li>
            <li><a routerLink="/ram" routerLinkActive="active-link"><i class="fas fa-calendar-alt"></i> Ram-schema</a>
            </li>
        </ul>
    </nav>
</div>