footer {
    padding: 10px;
    background-color: rgba(141, 204, 226, 0.8);

    p {
        text-align: center;
        color: white;
    }

    a {
        color: white;
    }

    a:hover {
        color: rgb(220, 220, 220);
    }

}