footer {
    padding: 10px;
    background: rgba(128, 35, 128, 1.0);
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(235, 235, 235, 0.15);
    padding-top: 3%;
    font-size: 1.15em;

    p {
        text-align: left;
        margin-left: 5%;
        color: white;
    }

    a {
        color: white;
    }

    a:hover {
        color: rgba(220, 220, 220, 0.85);
    }

    .empty-div {
        padding-bottom: 3%;
    }

}