h1 {
    text-align: center;
    color: black;
    width: 95%;
    margin-bottom: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 10px;

    p {
        text-align: left;
        margin-bottom: 15px;
        color: black;
        background: rgba(255, 255, 255, 0.68);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(9.5px);
        -webkit-backdrop-filter: blur(9.5px);
        border: 1px solid rgba(235, 235, 235, 0.15);
        padding: 10px;
    }
}
.empty-div {
    padding-bottom: 3%;
}

