h1 {
    text-align: center;
    margin-bottom: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 10px;

    p {
        text-align: left;
    }
}
