/* För att centrera tabellen och formuläret */
.course-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.filters-div {
    width: 100%;
}

/* Stil för sökfältet */
.filter-input {
    width: 100%;

}

/* Stil för ämnesväljaren */
.mat-form-field {
    width: 100%;
}

/* Stil för tabellen */
.mat-table {
    width: 100%;
}

/* Stil för paginator */
.items-page {
    margin-top: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(235, 235, 235, 0.15);
    width: 100%;
}

button {
    background-color: white;
}

@media screen and (max-width: 720px) {
    .big-screen {
        display:  none; 
    }

    .filters-div {
        max-width: 98%;
    }

    .filter-field {
        margin-right: -5px;
    }

    .filter-subject {
        width: 100%;
        padding-right: 15px;
        font-size: 80%;
    }
}

.add-btn:active {
    background-color: green;
}

.course-table {
    .filters-div {
        display: flex;
        gap: 1rem;

        mat-form-field {
            flex: 1;
        }
    }
}
