/* För att centrera tabellen och formuläret */
.course-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
  }
  
  /* Stil för filterformuläret */
  .filter-field {
    margin-bottom: 5px;
  }
  
  /* Stil för sökfältet */
  .filter-input {
    width: 300px; 
  }
  
  /* Stil för ämnesväljaren */
  .mat-form-field {
    width: 300px; 
  }
  
  /* Stil för tabellen */
  .mat-table {
    width: 100%;
  }
  
  /* Stil för paginator */
  .items-page {
    margin-top: 20px;
  }

  button {
    background-color: white;
  }