<h1>Mitt Ramschema</h1>
<div>
<mat-card *ngFor="let course of savedCourses">
    <mat-card-header>
      <mat-card-title>Kursnamn: {{ course.courseName }}</mat-card-title>
      <mat-card-subtitle>Kurskod: {{ course.courseCode }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Poäng: {{ course.points }}</p>
      <p>Ämne: {{ course.subject }}</p>
      <p>Kursplan: {{ course.syllabus }}</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- Eventuella knappar för att hantera kursen -->
    </mat-card-actions>
  </mat-card>
</div>
