/* You can add global styles to this file, and also import other style files */
//Generell styling 
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    background-color: rgba(214, 214, 214, 0.8);
    background-image: url("assets/images/background-pic5.webp");
    background-size: cover;
    min-height: 80vh;
}