/* You can add global styles to this file, and also import other style files */
//Generell styling 
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    background-color: rgb(235, 235, 235);
    min-height: 80vh;
}