h1 {
    text-align: center;
    color: black;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(235, 235, 235, 0.15);
    max-width: 800px;
    width: 95%;
    margin-bottom: 10px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/images/computer.webp");
    background-size: cover;
    min-width: 400px;
    max-width: 1200px;
    min-height: 600px;
    width: 95%;
    color: black;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.text-container {
    text-align: center;
    font-size: 1.7rem;
}

.our-courses {
    margin-top: 20px;
    flex-direction: column;
    a {
        text-decoration: none;
        color: white;
        padding: 10px;
        font-size: 1.6em;
        background: rgba(128, 35, 128, 0.78);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5.1px);
        -webkit-backdrop-filter: blur(5.1px);
        border: 1px solid rgba(235, 235, 235, 0.02);
    }
}

.our-courses:hover {

    a:hover {
        color: rgb(128, 35, 128);
        background: rgba(255, 255, 255, 0.68);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5.1px);
        -webkit-backdrop-filter: blur(5.1px);
        border: 1px solid rgba(235, 235, 235, 0.02);
    }
}

/* Grundläggande stil för kontainern för nyheterna */
.news {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; 
    max-width: 1800px; 
    margin-top: 10px; 

    h2 {
        background: rgba(128, 35, 128, 1.0);
        border-radius: 10px 10px 0px 0px;
        padding: 5px;
        color: white;
    }

    p {
        background: rgba(128, 35, 128, 1.0);
        border-radius: 0px 0px 10px 10px;
        padding: 5px;
        color: white;
    }
}


@media screen and (max-width: 768px) {


    .img-container {
        min-width: 300px;
        max-width: 98%;
        min-height: 400px;
        width: 98%;
    }
}


@media screen and (max-width: 868px) {
    .news {
        grid-template-columns: 1fr; 

    }

}

.news1 {
    background-image: url("../../assets/images/uu-pic.jpg");
    background-size: cover;
    width: 98%;
    min-height: 300px;
    border-radius: 10px;
}

.news2 {
    background-image: url("../../assets/images/news3.webp");
    background-size: cover;
    width: 98%;
    min-height: 300px;
    border-radius: 10px;
}

.news3 {
    background-image: url("../../assets/images/news2.webp");
    background-size: cover;
    width: 98%;
    min-height: 300px;
    border-radius: 10px;
}


  