<h1>Välkommen till Universitets Universitetet</h1>
<div class="container">
    <div class="img-container">
        <div class="text-container">
            <p>För dig som vill utmana dig själv och utöka dina kunskaper.</p>
        </div>
    </div>
    <div class="home-text"><p> Universitets Universitetet, en banbrytande institution för högre utbildning med fokus på innovation och mångfald. Med en passion för att forma framtidens ledare och förändringsagenter erbjuder vi ett brett utbud av program inom vetenskap, teknik, konst och humaniora. Vår dedikerade fakultet och moderna campusmiljö ger studenterna en dynamisk plattform för akademisk utforskning och personlig tillväxt.</p></div>
</div>