h1 {
    text-align: center;
    color: black;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(235, 235, 235, 0.15);
    max-width: 800px;
    width: 95%;
    margin-bottom: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/computer.webp");
    background-size: cover;
    min-width: 300px;
    min-height: 400px;
    max-width: 800px;
    width: 95%;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.text-container {
    text-align: center;
    background: rgba(235, 235, 235, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(235, 235, 235, 0.02);
    font-size: 1.7rem;
}

.home-text {
    text-align: left;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(235, 235, 235, 0.02);
    font-size: 1.3rem;
    margin-top: 10px;
    padding: 10px;
    max-width: 600px;
    width: 95%;
    color: black;
}




  
  

