<h1>Välkommen till Universitets Universitetet</h1>
<div class="container">
    <div class="img-container">
        <div class="text-container">
            <p>Är du sugen på att börja studera?</p>
        </div>

        <div class="our-courses">
            <a routerLink="/courses" routerLinkActive="active-link"><i class="fa-solid fa-arrow-right"></i> Kolla in
                våra kurser</a>
        </div>
    </div>
    <div class="news">
        <div class="news1">
            <h2>Senaste nytt på campus</h2>
            <p>Renovationen av biblioteket går in på slutspurten, till höstterminen 2024 kommer alla våningar att vara tillgängliga som vanligt.</p>
        </div>
        <div class="news2">
            <h2>Sommaren är på ingång</h2>
            <p>Med bara några få veckor kvar av terminen vill vi på Universitets Universitetet önska alla fantastiska elever och personal en skön sommar!</p>
        </div>
        <div class="news3">
            <h2>Senaste ansökan</h2>
            <p>Senaste ansökan för kurser till hösten stänger den <b>8 Juni</b> vi uppmanar alla som är sugna på att plugga till hösten att söka innan dess!</p>
        </div>
    </div>
</div>
<div class="empty-div"></div>